<nav>
  <a routerLink="/" class="brand">
    <img src="/assets/moments.png" alt="moments" />
    <h2>Moments</h2>
  </a>
  <input id="menu-toggle" type="checkbox" />
  <label class="menu-button-container" for="menu-toggle">
    <div class="menu-button"></div>
  </label>
  <ul class="menu links">
    <li><a routerLink="/">Home</a></li>
    <li id="add"><a routerLink="/moments/new">Compartilhar</a></li>
    <li><a routerLink="/about">Sobre</a></li>
  </ul>
  <!-- <ul class="links">
    <li><a routerLink="/">Home</a></li>
    <li id="add"><a routerLink="/moments/new">Compartilhar</a></li>
    <li><a routerLink="/about">Sobre</a></li>
  </ul> -->
</nav>
